@keyframes pisca {
    0% { opacity: 0.2;}
    50% { opacity: 1;}
    100% { opacity: 0.2;}
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;

}

.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado{
    background-color: #403a3a;
    margin-left: 30px;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao {
    width: 70px;
    height: 40px;
    background: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    transition: 500ms;
}

.teclado--botao:hover {
    box-shadow: 1px 2px 5px white;
}
.btn-branco {
    background-color: white;
    color: black;
    font-size: 15px;
}

.btn-corrige{
    background-color: #f09046;
    color: black;
    font-size: 15px;
}

.btn-confirma {
    background-color: #48c079;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d-1 {
    flex: 1;
    display: flex;
}
.d1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1-3{
    height: 50px;
}

.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

.d1-4{
    flex: 1;
    line-height: 30px;
}

.d1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d1-images {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
}

.d1-images img {
    width: 100%;
}

.d1-images.small {
    font-size: 12px;
    width: 80%;
}

.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid black;
    padding-left: 10px;
}

.aviso--grande {
    font-size: 40px;
    font-weight: bold;
}
.aviso--gigante {
    font-size: 40px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}